/* Homepage */
/* Header */
header > div.has-background {
    background-color: #170046 !important;
}

/* Footer */
footer > div.has-background  {
    background-color: #170046 !important;
}

/* Body */
body{
    background-color: antiquewhite;
    color: black !important;
}

/* Home page title */
.has-base-2-color {
    color: #000000 !important;
}